<nav>
    <NavLink href="" Match="NavLinkMatch.All" aria-current="page" aria-label="Home page">Home</NavLink>
    <NavLink href="about" aria-label="About page">About</NavLink>
    <NavLink href="projects" aria-label="Projects page">Projects</NavLink>
    <NavLink href="contact" aria-label="Contact page">Contact</NavLink>
</nav>
